@font-face {
  font-family: "SF-Pro-Display-Black";
  src: url("../fonts/SF-Pro-Display-Black.woff2") format("woff2"),
  url("../fonts/SF-Pro-Display-Black.woff") format("woff");
}
@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"),
  url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display.woff2") format("woff2"),
  url("../fonts/SF-Pro-Display.woff") format("woff");
}
